.heading__text-form {
  padding: 36px 20px 51px;
  font-weight: 300;
  font-size: 24px;
  color: $white;
}

.achievements {
  background-color: $white;
}

.achievements__title {
  margin: 0;
  padding: 45px 20px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    padding: 90px 85px 53px;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    padding: 90px 250px 88px;
  }
}

.achievements__request {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.achievements__form-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    flex-direction: initial;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.achievements__list-initial,
.achievements__list-contacts {
  margin: 0;
  list-style: none;
  padding: 26px 20px 34px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.achievements__list-initial {
  @media (min-width: $tablet-width) {
    padding: 20px 20px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    width: 46%;
  }
}

.achievements__list-contacts {
  padding-top: 25px;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    padding: 15px 56px 20px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 20px 11px 0;
  }
}

.achievements__comment-title {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    text-transform: uppercase;
    background-color: $white;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    width: 260px;
    color: $cerise;
    margin: 0 auto;
    margin-top: -65px;
  }
}

.achievements__item-initial,
.achievements__item-contacts,
.achievements__item-email {
  padding-bottom: 10px;
  line-height: 45px;
  text-align: start;
}

.achievements__item-initial {
  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.achievements__item-initial:nth-child(n + 2) {
  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.achievements__item-contacts,
.achievements__item-email {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    @media (min-width: $desktop-width) {
      flex-grow: 1;
      padding: 10px 37px;
    }
  }
}

.achievements__item-contacts {
  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.achievements__item-email {
  @media (min-width: $tablet-width) {
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.achievements__name,
.achievements__phone,
.achievements__email {
  display: block;
  padding-left: 22px;
  font-size: 14px;
  text-transform: uppercase;
  color: $cerise;
}

.achievements__name {
  @media (min-width: $tablet-width) {
    padding: 5px 20px 5px 0;
  }
}

.achievements__email {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.achievements__name-text,
.achievements__phone-text,
.achievements__email-text {
  box-sizing: border-box;
  outline: none;
  width: 100%;
  padding: 13px 20px;
  border: 2px solid $whisper;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $midnight;

  &:hover {
    border-color: $midnight;
  }

  &:active {
    border-color: $cerise;
  }
}

.achievements__phone-text,
.achievements__email-text {
  @media (min-width: $tablet-width) {
    box-shadow: inset -59px 0 0 $whisper;
    padding-right: 59px;
  }
}

.achievements__phone-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 24px;
    right: 21px;
  }

  @media (min-width: $desktop-width) {
    top: 32px;
    right: 58px;
  }
}

.achievements__email-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: 24px;
    right: 22px;
  }

  @media (min-width: $desktop-width) {
    top: 34px;
    right: 58px;
  }
}

.achievements__filter-act,
.achievements__filter-soft {
  border: none;
  padding: 20px 20px 30px;
  background-color: $gray;

  @media (min-width: $tablet-width) {
    border: 2px solid $whisper;
    margin: 35px 20px;
    padding: 20px 60px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: $cerise;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.achievements__filter-soft {
  @media (min-width: $tablet-width) {
    margin: 0 20px 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 35px 0;
    margin-top: -23px;
    margin-left: 40px;
    padding: 25px 0 25px 70px;
    width: 38%;
  }
}

.achievements__filter-act {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-top: 60px;
    padding: 20px 20px 20px 60px;
  }
}

.achievements__contacts {
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid $whisper;
    margin: 0 20px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 10px;
    width: 100%;
  }
}

.achievements__title-contacts {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0 30px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: $cerise;
  }
}

.filter-act__title,
.filter-soft__title,
.comment__heading {
  padding: 8px 25px 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $cerise;

  &--current {
    display: block;
    padding-bottom: 10px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.filter-act__title-legend,
.filter-soft__title-legend {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;

  @media (min-width: $tablet-width) {
    position: relative;
    overflow: initial;
    width: auto;
    height: auto;
    padding: 0 10px;
  }
}

.filter-act__list,
.filter-soft__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-act__list {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.filter-act__item,
.filter-soft__item {
  text-transform: initial;
  text-align: start;
  padding: 25px 20px 25px 56px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $midnight;
}

.filter-act__item {
  @media (min-width: $desktop-width) {
    &--chuck {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &--originality {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }
}

.filter-soft__item {
  @media (min-width: $desktop-width) {
    padding: 25px 20px 25px 56px;
  }
}

.filter-act__input + .filter-act__label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    left: -60px;
    top: -4px;
    background-color: $white;
    border: 2px solid $whisper;
    border-radius: 1px;
  }
}

.filter-act__input + .filter-act__label .achievements__icon-yes {
  display: none;
}

.filter-act__input + .filter-act__label:active .achievements__icon-yes,
.filter-act__input:checked + .filter-act__label .achievements__icon-yes {
  position: absolute;
  display: block;
  top: 7px;
  left: -50px;
  fill: $cerise;
}

.filter-soft__input + .filter-soft__label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    left: -60px;
    top: -4px;
    background-color: $white;
    border: 2px solid $whisper;
    border-radius: 50%;
  }
}

.filter-act__label:hover::before,
.filter-soft__label:hover::before {
  border-color: $midnight;
}

.filter-act__label:active::before,
.filter-soft__label:active::before {
  border-color: $cerise;
}

.filter-soft__input:checked + .filter-soft__label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -48px;
  top: 8px;
  background-color: #d22856;
  border-radius: 50%;
}

.achievements__comment {
  box-sizing: border-box;
  padding: 20px;

  @media (min-width: $tablet-width) {
    border: 2px solid $whisper;
    margin: 35px 20px;
    padding: 50px 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 65px auto 35px;
  }
}

.comment__text {
  font-family: "Open sans", "Arial", sans-serif;
  box-sizing: border-box;
  outline: none;
  padding: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: $midnight;

  &--window {
    resize: none;
    width: 100%;
    min-height: 200px;
    border-radius: 1px;
    border: 2px solid $whisper;

    @media (min-width: $desktop-width) {
      min-height: 126px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 30px;
  }
}

.achievements__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 34px;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 50px;
  }
}

.achievements__button {
  cursor: pointer;
  padding: 15px 43px;
  margin: 20px 0 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  background-color: $green-1;
  border: 2px solid $green-1;
  border-radius: 3px;
  color: $white;
  outline: none;

  &:hover {
    background-color: $green-2;
    border-color: $green-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 8px 57px;
    margin: 0;
  }
}

.achievements__legend {
  padding: 16px 20px;
  padding-bottom: 10px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 23px 0;
    margin: 0;
  }
}

.achievements__star {
  color: $cerise;
}

.achievements__hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
