.effect {
  position: relative;

  @media (max-width: $mobile-width-only) {
    margin: 0;
    padding: 0;
    display: none;
  }

  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $gray;
  }
}

.effect__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.effect__timer {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.effect__timer-icon {
  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: 10000;

    &--1 {
      top: 38px;
      left: 0;
      fill: $gray-2;

      @media (min-width: $desktop-width) {
        top: -85px;
        width: 298px;
        height: 345px;
      }
    }

    &--2 {
      top: 94px;
      left: 18px;
      fill: $cerise;

      @media (min-width: $desktop-width) {
        width: 252px;
        height: 252px;
        top: -16px;
        left: 23px;
      }
    }
  }
}

.effect__timer-text {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 94px;
    font-size: 96px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 64px;
    color: $cerise;
  }

  @media (min-width: $desktop-width) {
    padding-left: 81px;
    padding-top: 20px;
    font-size: 120px;
    margin: 0;
  }
}

.effect__text {
  @media (min-width: $tablet-width) {
    position: relative;
    width: 50%;
    text-align: start;
    padding: 80px 0 40px;
  }

  @media (min-width: $desktop-width) {
    width: 58%;
    padding: 0 0 150px;
  }
}

.effect__title {
  @media (min-width: $tablet-width) {
    margin: 0;
    padding-right: 100px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  }
}

.effect__discription {
  color: $midnight;

  @media (min-width: $tablet-width) {
    margin: 12px 0;
    padding-right: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  @media (min-width: $tablet-width) {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $cerise;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
