.photo {
  background: $white;
}

.photo__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
  }
}

.prospect__photo,
.card-frame__img {
  margin-bottom: -5px;
}

.photo__title {
  margin: 0;
  padding: 54px 20px 60px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 100px 120px 85px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    max-width: 940px;
    margin: 0 auto;
    padding: 100px 150px 97px;
  }
}

.panorama__comment--wrapper {
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin: 0 auto;
  }
}

.photo__list {
  list-style: none;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo__item {
  margin: 10px 0;
  position: relative;
  background: $gray;
}

.card-frame__comment {
  padding: 26px 17px 62px;
  line-height: 24px;
  text-align: start;

  @media (min-width: $tablet-width) {
    padding: 30px 30px 67px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 27px 67px;
  }

  &--color {
    position: relative;
    background: $gray;
  }
}

.card-frame {
  margin: 0;

  .card-frame__img {
    width: 100%;
  }
}

.prospect__img {
  width: 100%;
}

.card-frame__author {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.card-frame__time {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
}

.card-frame__text {
  margin: 0;
  font-size: 14px;
}

.card-frame__button {
  position: absolute;
  margin: 0;
  bottom: 26px;
  left: 17px;
  font-size: 12px;
  margin-top: 14px;
  color: $cerise;

  @media (min-width: $tablet-width) {
    bottom: 31px;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    bottom: 26px;
    left: 27px;
  }
}
