.software {
  background-color: #1d2631;
  color: $white;
  padding: 28px 20px 0;

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 100px;
  }
}

.software__button {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 13px 35px;
  border: 3px solid $white;
  border-radius: 50px;
  color: $white;

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }

  &:hover {
    color: $cerise;
    background-color: $white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.software__list {
  display: flex;
  justify-content: center;
  padding: 32px 38px 0;
  list-style: none;

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}

.software__icon {
  margin: 0 18px;

  &--android {
    padding-top: 7px;
  }

  &--windows8 {
    padding-top: 10px;
  }
}

.software__text {
  padding: 0 20px 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
