.page-footer {
  background-color: $white;
}

.page-footer__wrapper {
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 40px 20px;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    padding: 75px 20px;
    justify-content: space-between;
  }
}

.page-footer__logo:hover svg g path {
  fill: $cerise;
}

.page-footer__logo:active svg g path {
  fill: rgba(40, 54, 69, 0.3);
}

.page-footer__logo:active svg > path {
  fill: rgba(210, 40, 86, 0.3);
}

.page-footer__link-1 {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-footer__link-2 {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 38px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  margin: 0 5px;
}

.social__link {
  border: 3px solid rgba(45, 54, 69, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  &:hover {
    border: 3px solid rgba(45, 54, 69, 1);
  }

  &:active {
    border: 3px solid rgba(45, 54, 69, 0.1);
  }

  &:active path {
    fill: rgba(210, 40, 86, 0.3);
  }
}

.page-footer__developer {
  justify-content: center;
  display: flex;
  margin-top: 16px;
}

.page-footer__developer-text {
  margin: 0;
  margin-right: 15px;
}

.page-footer__developer-icon {
  cursor: pointer;
  margin: 0;

  &:hover path {
    fill: $midnight;
  }

  &:active path {
    fill: rgba(40, 54, 69, 0.3);
  }
}
