.heading__text-index,
.heading__text-photo {
  padding: 28px 40px;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}

.software {
  background-color: #1d2631;
  color: #ffffff;
  padding: 28px 20px;
}

.software__button {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  padding: 18px 36px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
}

.software__text {
  padding: 17px 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

.offer {
  background-color: #ffffff;
}

.offer__question-answer {
  font-weight: 300;
  font-size: 24px;
  padding: 23px 20px;
}

.offer__question,
.offer__answer {
  padding: 23px 0;
}

.offer__list {
  background-color: #f2f2f2;
  padding: 68px 20px;
}

.offer__item {
  padding: 20px 0;
}

.offer__title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: bold;
}

.offer__discription {
  font-size: 14px;
  font-weight: normal;
}

.offer__photo {
  background-color: #f2f2f2;
}
