@import "fonts.scss";
@import "variables.scss";
@import "footer.scss";
@import "toggle-price-slider.scss";
@import "toggle.scss";
@import "header.scss";
@import "blocks/post.scss";
@import "blocks/hero.scss";
@import "blocks/software.scss";
@import "blocks/photo.scss";
@import "blocks/offer.scss";
@import "blocks/effect.scss";
@import "blocks/contact.scss";
@import "blocks/achievements.scss";
@import "blocks/map.scss";
@import "blocks/price.scss";

.page__body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Open sans", "Arial", sans-serif;
}

.visually-hidden {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
