@import "nullstyle.scss";
@import "header.scss";
@import "footer.scss";
@import "main.scss";
@import "form.scss";





// Начните писать стили здесь
.page__body {
  text-align: center;
  max-width: 320px;
  font-family: 'Open sans', sans-serif;
  background: url(/img/bg-back-mobile@1x.jpg) no-repeat ;
}

 .visually-hidden {
   display: none;
}
