.main-nav__toggle {
  position: absolute;
  top: 10px;
  right: 0;
  display: block;
  width: 70px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    top: 30px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 20px;
  width: 50px;
  height: 3px;
  border-radius: 1px;
  background-color: $white;
  box-shadow: 0 11px 0 0 $white, 0 22px 0 0 $white;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade($white, 30%);
  box-shadow: 0 11px 0 0 fade($white, 30%), 0 22px 0 0 fade($white, 30%);
}

@media (max-width: 959px) {
  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list {
    display: block;
  }
}

@media (max-width: 959px) {
  .main-nav--closed .page-header__wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: none;
  }
}

@media (min-width: $tablet-width) and (max-width: 959px) {
  .main-nav--closed .page-header__wrapper {
    padding: 27px 20px 43px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: none;
  }

  .main-nav--nojs .page-header__wrapper {
    text-align: start;
    background: $midnight;
    box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }
}

.main-nav--opened .main-nav__toggle {
  top: 10px;
  right: 10px;

  @media (min-width: $tablet-width) {
    top: 35px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 25px;
    right: 20px;
    width: 36px;
    height: 3px;
    background-color: $white;

    @media (min-width: $tablet-width) {
      top: 25px;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
