$tablet-width: "660px";
$desktop-width: "960px";
$mobile-width-only: "659px";
$white: #ffffff;
$gray: #f2f2f2;
$gray-2: #dedede;
$gray-3: #efefef;
$cerise: #d22856;
$midnight: #283645;
$whisper: #e5e5e5;
$red-orange: #f25b26;
$shamrock: #3dc644;
$green-1: #2aab6d;
$green-2: #1c9b5e;
